.signupLayout {
  margin: 0 auto;
  max-width: 1000px;
  align-items: center;
  .contentsWrap {
    min-height: 420px;
  }

  .buttonWrap {
    width: 100%;
    padding: 20px 100px;
    overflow: hidden;
    text-align: center;
    .button {
      margin: 0 5px;
    }
  }
}
